body {
  background-color: #113;
  color: white;
  font-family: sans;
  max-width: 700px;
  margin: auto;
}

header {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

h1, h2 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  text-shadow: 5px 5px 10px orchid;
}

a:link { color: #33eedc; }
a:visited { color: #b3b; }

nav {
  text-align: center;
}

nav ul {
  padding: 0;
  display: inline-block;
  margin: auto;
}

nav li {
  display: table-cell;
  text-decoration: none;
  height: 50px;
  width: 80px;
  border: 1px solid white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding: 0px;
  box-shadow: 0 0 10px darkorchid;
}

nav li:hover {
  background-color: darkorchid;
  box-shadow: 0 0 15px white;
  -moz-transition: background-color 0.5s, box-shadow 0.5s;
  -webkit-transition: background-color 0.5s, box-shadow 0.5s;
  -o-transition: background-color 0.5s, box-shadow 0.5s;
}

nav li a {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 3px #eee;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0px;
  justify-content: center;
  align-items: center;
}

nav li a:visited { color: white; }
nav li a:link { color: white; }


.code-container {
  background-color: black;
  padding: 10px;
  margin-top: 15px;
}

.code-container span {
  font-family: mono;
  color: green;
  margin: 5px;
  display: block;
}

#searchform {
  text-align: center;
}

#searchform input {
  border-bottom: none;
  box-shadow: 0 0 8px white;
  width: 10em;
}

#searchform .searchsubmit {
  padding: 0;
  width: 2em;
  background-color: #113;
  border: 1ps solid white;
  //border-style: inset;
  //border-top: none;
  //border-bottom: none;
  box-shadow: 0 0 10px white;
  cursor: pointer;
}

#searchform .searchsubmit:hover {
  background-color: darkorchid;
}

.rss {
  text-decoration: none;
  color: white;
  background-color: darkorange;
  padding: 0.1em;
  margin-left: 1em;
  box-shadow: 0 0 7px orange;
}

.rss:hover {
  background-color: orangered;
}

ul {
  list-style-type: square;
}

p, li {
  line-height: 130%;
}

img {
  width: 100%;
}